@model IEnumerable<Tbluser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>User Details</h1>
<hr>
<div class="container" style="padding-top:2%">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>User Name</th>
                    <th>Gender</th>
                    <th>Email Address</th>
                    <th>Mobile Number</th>
                    <th>City</th>
                    <th>Joining Date</th>
                    <th>Photo</th>
                </tr>
            </thead>
            @{
                int i=1;
            }
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.UserName</td>
                        <td>@item.Gender</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.City</td>
                        <td>@item.JoiningDate</td>
                        <td>
                             <img src="~/Users//@item.UserPhoto" height="70" width="100" />
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
         </table>
    </div>
</div>

